---
layout: single
author_profile: true
---

<div class="page-content">
  <div class="text-section">
    <h1>Guzel Ishmaeva</h1>
    <p>I am a PhD Candidate in Economics at New York University.</p>
    <p>My research focuses on Applied Microeconomics, with a strong emphasis on Empirical Industrial Organization.</p>
    <p>In particular, I study competition in media markets, focusing on the trade-offs between reporting speed and ideological positioning in
modern journalism.<p>
    </ul>
  </div>
  <div class="image-section">
    <img src="/assets/profile.png" alt="Guzel Ishmaeva">
  </div>
</div>

<style>
.page-content {
  display: flex;
  justify-content: space-between;
  align-items: center;
}
.text-section {
  flex: 1;
  padding-right: 20px;
}
.image-section img {
  max-width: 400px;
  border-radius: 10px;
}
</style>

